.gradient-circle {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    top: 0;
    font-family: aonik;
  }
  
  .gradient-circle::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    padding: 2px; /* border thickness */
    background: linear-gradient(135deg, #7c3aed, #c084fc);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
  